.form {
    width: 300px;
    padding: 15px;
    border: 2px solid grey;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(232, 202, 162);
}

.input {
    padding: 6px 0;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

.button {
    padding: 10px 0;
    margin: 30px 10px 10px;
    border-radius: 8px;
    background-color: rgb(212, 169, 31);
    border: none;
    font-size: 16px;
}

