.header {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

